<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/af31536b-1dbc-48f9-864a-7200804f276a/resourcegroups/FoodieStrore/providers/Microsoft.Web/sites/TheFoodieStore</ResourceId>
    <ResourceGroup>FoodieStrore</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thefoodiestore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thefoodiestore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheFoodieStore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TheFoodieStore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="App_Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:thefoodie.database.windows.net;Initial Catalog=FoodieStore;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=tcp:thefoodie.database.windows.net;Initial Catalog=FoodieStore;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FoodieStore.App_Context, FoodieStore" MigrationConfiguration="FoodieStore.Migrations.Configuration, FoodieStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="App_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:thefoodie.database.windows.net;Initial Catalog=FoodieStore;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>